@CHARSET "ISO-8859-1";
.miniTextfield {
	width: 60px;
	margin-left: 0px;
}
body { 
    padding-top: 60px; 
}
#current-chart {
    min-height: 500px;
}
.glasspane {
	width:200px;
	height:200px;
}

.alignRight { text-align: right; }

form.form-stacked {
	padding-left: 0px;
}
div.doNotFloat label{
	float:none;
}
.loading-bg {
    background: url('/img/loading.gif') no-repeat;
    background-position: center;
}